:root {
    --body-color: #161722;
    --todobox-color: #25273c;
    --todotext-color: #cacde8;
    --todotext-color-hover: #e4e5f1;
    --color-one: #777a92;
    --color-two: #4d5066;
    --color-three: #393a4c;
    --color-outline: #fff;
    --active: #3a7bfd;
    --text-light: #484b6a;
    --shadow: transparent;

    --error-color: #ca4754;

    --light-primary: #e2b714; /* Màu chính */
    --light-secondary: #080909; /* Màu phụ */
    --light-accent: #99947f; /* Màu nhấn */
    --light-background: #eeebe2; /* Màu nền chính */
    --light-background-sec: #7fa480; /* Màu nền phụ */
    --light-background-third: #c87e74; /* Màu nền phụ */
    --light-border: #cccccc; /* Màu viền */
    --light-text-primary: #080909; /* Màu chữ chính */
    --light-text-secondary: #99947f; /* Màu chữ phụ */

    --dark-primary: #e2b714; /* Màu chính */
    --dark-secondary: #ff5733; /* Màu phụ */
    --dark-accent: #ffd700; /* Màu nhấn */
    --dark-background: #161722; /* Màu nền chính */
    --dark-background-sec: #25273c; /* Màu nền phụ */
    --dark-border: #cccccc; /* Màu viền */
    --dark-text-primary: #d1d0c5; /* Màu chữ chính */
    --dark-text-secondary: #646669; /* Màu chữ phụ */

    --font: "Roboto Mono", monospace;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background: var(--body-color); */

    /* font-family: "Josefin Sans", sans-serif; */
    /* font-family: "Comic Neue", cursive; */
    font-family: "Roboto Mono", monospace;
    background: var(--dark-background);

    height: 100vh;
    user-select: none;
}

#root {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
